<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="dialect">item_organizer_client.database.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:database.db</property>
        <property name="connection.username">qweqwda</property>
        <property name="connection.password">12345</property>

        <property name="hibernate.hbm2ddl.auto">update</property>

        <mapping class="item_organizer_client.model.Item"/>
        <mapping class="item_organizer_client.model.Category"/>
        <mapping class="item_organizer_client.model.Price"/>
        <mapping class="item_organizer_client.model.Transaction"/>
        <mapping class="item_organizer_client.model.TransactionItem"/>
    </session-factory>
</hibernate-configuration>