* {
	-background-color: #eeeeee;

	-separator-color: #cacaca;

	-icon-color: #3b4e7c;
	-icon-front-hover-color: #e2e2e2;
	-icon-back-hover-color: -icon-color;
	-icon-pressed-color: #657cb5;
	-icon-toggled-hover-color: #556896;
	-icon-toggled-pressed-color: #6981bc;

	-icon-hover-background-color: rgba(220,220,220,5);

	-alert-warning-color: #ffee0c;
	-alert-warning-odd-color: #fff359;

	-alert-danger-color: #e56300;
	-alert-danger-odd-color: #ea7419;

    -menu-separator: #dbdbdb;
}

.background {
    -fx-background-color: -background-color;
}

.menu-separator {
    -fx-background-color: -menu-separator;
}

.clear-button {
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.clear-button {
    -fx-cursor: hand;
}

.alert-danger {
    -fx-background-color: -alert-danger-color;
}

.alert-danger:odd {
    -fx-background-color: -alert-danger-odd-color;
}

.alert-warning {
    -fx-background-color: -alert-warning-color;
}

.alert-warning:odd {
    -fx-background-color: -alert-warning-odd-color;
}

.alert-danger:selected,
 .alert-warning:selected{
    -fx-background-color: -fx-table-cell-border-color, -fx-background;
}