@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Thin.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Light.ttf');
}

@font-face {
	font-family: 'Roboto';
	src: url('font/Roboto-Bold.ttf');
}

* {
	-background-color: #777777;
	-menu-background-color: #545454;
	-background-hover-color: #6d6d6d;
	-background-pressed-color: #969696;
	-text-color: #d6d6d6;
	-text-pressed-color: #ffffff;
	-playlist-background-color: #545454;

	-menu-exit-button-hover-color: #ee3333;
	-menu-exit-button-pressed-color: #ee7777;

	-scroll-color: #626262;

	-player-text-color: #ffffff;
}

.background {
    -fx-background-color: -background-color;
}

/*** menu-bar ***/
 
.top-menu {
    -fx-background-color: -background-color;
    -fx-border-width: 0px 0px 1px 0px;
	-fx-border-color: #aaaaaa;
}

.top-menu > .button {
    -fx-background-color: -background-color;
	-fx-font-family: 'Roboto Light';
	-fx-text-fill: -text-color;
	-fx-font-size: 18px;
	-fx-scale-y: 0.9;
	-fx-padding: 6px 8px;
}

/***.top-menu > .button:focused ***/
.top-menu > .button:hover {
	-fx-background-color: -background-hover-color;
}
