* {
	-primary-color: #3b4e7c;
}

.title-top {
    -fx-font-size: 19px;
    -fx-text-fill: -primary-color;
}

.title-top-secondary {
    -fx-font-size: 17px;
    -fx-text-fill: -primary-color;
}

.title-element {
    -fx-font-size: 15px;
    -fx-text-fill: -primary-color;
    -fx-font-weight: bold;
}

.property-label {
    -fx-font-size: 14px;
}

.alert-label {
    -fx-font-size: 11px;
    -fx-text-fill: #ff3333;
}

.info-label {
    -fx-font-size: 11px;
    -fx-text-fill: #3333ff;
}

.scroll-pane {
    -fx-background-color: transparent;
}